.nav-bg{
    background-image: url(../src/images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project-bg{
    background-image: url(../src/images/latest-work-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.icon{
    color: black;
}
.icon:hover{
    transform: translateY(-5px);
    transition: 1s;
 
}
.test:hover{
    transform: translateY(-3px);
    transition: 1s;
}
/* .project-size{
    height: 1000px;
} */